:root {
  --theme-color: #9939f9;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: #f9f9f9;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 100;
}

body > div {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  border: 1px solid #fff4;
  width: min(100vw, 900px);
  padding: 10px;
}

.logo a {
	margin: auto;
	font-size: 50px;
	text-decoration: none;
  color: var(--theme-color);
}

.logo a span {
  background: var(--theme-color);
  color: #000;
  margin: 5px;
  padding: 0 10px;
  display: inline-block;
  height: 30px;
}

.header {
  flex-direction: row;
  justify-content: space;
  padding: 0;
  border: none;
  border-top: 1px solid var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
}

.header a, .header span {
  padding: 5px 20px;
  color: var(--theme-color);
  text-decoration: none;
}

.header span {
  background: var(--theme-color);
  color: #000;
}
